<div class="profile">
  <div class="profile_inner">
    {{ with site.Params.profileInfo }}
      <h4>{{ resources.Get .image.url }}</h4>
      <img draggable="false" src="{{ .image.url | absURL }}" alt="{{ .image.title }}" title="{{ .image.title }}" height="{{ .image.height | default 150 }}" width="{{ .image.width | default 150 }}" />
      <h1>{{ .title | default site.Title | markdownify }}</h1>
      <span>{{ .content | markdownify }}</span>
      {{ partialCached "home/socialIcons.html" . }}

      <!-- 按钮 -->
      {{ with .buttons }}
        <div class="buttons">
          {{ range .}}
            <a class="button" href="{{ .url }}" rel="noopener" title="{{ .name }}">
              <span class="button-inner">
                  {{ .name }}
                  {{- if (findRE "://" .url) }}
                    {{ partial "common/svg.html" "external_link" }}
                  {{- end }}
              </span>
            </a>
          {{ end }}
        </div>
      {{ end }}
    {{ end }}
  </div>
</div>
