// 引入自定义样式文件
@import "custom/custom";
@import "../css/custom/custom";

// 导入之前的样式文件
@import "../css/common/index";
@import "../css/core/index";
@import "../css/custom/index";
@import "../css/extended/index";
@import "../css/includes/index";
// 测试引入文件
@import "_partial/t";

// 设置有序列表的序号
.toc #TableOfContents ol {
  list-style-type: none;
  counter-reset: item;

  li {
    list-style: none;

    a:first-of-type::before {
      counter-increment: item;
      content: counters(item, ".") ". ";
      font-weight: 700;
      margin-right: 5px;
    }
  }
}

// 代码块
// 方案一
.codeBlock {
  overflow: hidden;
  max-height: 12000px;
  -webkit-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
  -moz-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
  -o-transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
  transition: max-height 0.8s cubic-bezier(0.5, 0, 1, 0) 0s;
}
.codeBlock.hide {
  max-height: 20px;
  overflow-y: hidden;
  -webkit-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
  -moz-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
  -o-transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
  transition: max-height 0.8s cubic-bezier(0, 1, 0, 1) -0.1s;
}

.codeHeader {
  line-height: 20px;
  background-color: gray;
  color: blue;
}

.post-content .highlight:not(table) {
  margin-top: 0;
}

// 方案二，不用js，直接用css实现
.codeBlockDetails {
  + .codeBlockDetailsContent {
    overflow: hidden;
    margin-bottom: 10px;
    max-height: 0px;
    -webkit-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;
    -moz-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;
    -o-transition: max-height 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;
    transition: max-height 0.3s cubic-bezier(0, 1, 0, 1) -0.1s;
  }
  &[open] + .codeBlockDetailsContent {
    max-height: 12000px;
    -webkit-transition: max-height 0.3s cubic-bezier(0.5, 0, 1, 0) 0s;
    -moz-transition: max-height 0.3s cubic-bezier(0.5, 0, 1, 0) 0s;
    -o-transition: max-height 0.3s cubic-bezier(0.5, 0, 1, 0) 0s;
    transition: max-height 0.3s cubic-bezier(0.5, 0, 1, 0) 0s;
  }
  summary {
    cursor: pointer;
    user-select: none;
    background-color: var(--code-bg);
    line-height: 30px;
    padding: 0 10px;
  }
}
