<!-- js 引用模板
  参数：
  . : 页面上下文
-->

<!-- 按需引入-->
{{ if site.Params.css.isImportDemand }}
  <!-- 遍历引用 css -->
  {{ $cssDict := .Store.Get "cssDict" }}
  {{ range .Store.Get "css" }}
    {{ $cssInfo := index $cssDict . }}
    {{ $css := resources.Get $cssInfo.path }}
    <!-- 判断文件是否 -->
    {{ if not $css}}{{ errorf (printf "'%s'key没有找到,或者没有找到'%s'文件" . $cssInfo.path) }}{{ end }}
    <!-- 引用样式 -->
    {{ $outfile := printf "assets/css/%s.css" . }}
    {{ with ($css = $css | toCSS (dict "targetPath" $outfile "enableSourceMap" true) | minify | fingerprint) }}
      <!-- 是否引入 -->
      {{ if $cssInfo.import }}
        <link crossorigin="anonymous" rel="preload stylesheet" as="style" href="{{ $css.RelPermalink }}" integrity="{{ $css.Data.Integrity }}" />
      {{ else }}
        <!-- 避免html报错，这里使用拼接 -->
        {{ $cssStr := add "<" "style>%s" "</style>" }}
        {{ $cssStr = printf $cssStr $css.Content }}
        {{ $cssStr | safeHTML }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}

<!-- 引入自定义样式 -->
{{ $style := resources.Get "sass/customImport.scss" | toCSS (dict "targetPath" "assets/css/custom.css" "enableSourceMap" true) | minify | fingerprint }}
<link crossorigin="anonymous" rel="preload stylesheet" as="style" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
