<!-- js 引用模板
  参数：
  . : 页面上下文
-->

{{ $jsDict := .Store.Get "jsDict" }}
{{ range .Store.Get "js" }}
  {{ $jsInfo := index $jsDict . }}
  {{ $js := resources.Get $jsInfo.path }}
  <!-- 判断文件是否 -->
   {{ if not $js}}{{ errorf (printf "'%s'key没有找到,或者没有找到'%s'文件" . $jsInfo.path) }}{{ end }}
  <!-- 如果有参数（使用参数构建后，会成私域） -->
  {{ with $jsInfo.params }}{{ $js = $js | js.Build (dict "params" .) }}{{ end }}
  <!-- 引用脚本 -->
  {{ $outfile := printf "assets/js/%s.css" . }}
  {{ if ($js = $js | resources.Copy $outfile | minify | fingerprint) }}
    <!-- 是否引入 -->
    {{ if $jsInfo.import }}
      <script defer crossorigin="anonymous" src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
    {{ else }}
      <script>{{ $js.Content | safeJS }}</script>
    {{ end }}
  {{ end }}
{{ end }}
