<!-- 页面列表
  参数：
    . : 列表页上下文
 -->

{{ range .Paginator.Pages }}
  <article class="postEntry {{ cond (eq $.Kind "term") "tagEntry" "" }}">
    <!-- 封面 -->
    {{ partial "common/cover.html" (dict "page" . "inList" true) }}
    <!-- 标题 -->
    <h2 class="entryTitle">{{ .Title }}{{ if .Draft }}<sup><span class="draft"> [draft]</span></sup>{{ end }}</h2>
    <!-- 摘要 -->
    {{ if not (.Param "hideSummary") }}
      <div class="entryContent">
        <!-- 移除摘要中的代码行数 -->
        {{ $newSummary := replaceRE "\\d+ " "" .Summary}}
        <!-- 裁剪摘要，有时有异常 -->
        {{/* if gt (len $newSummary) 100 }}{{ $newSummary = slicestr $newSummary 0 100 }}{{ end */}}
        <p>{{ $newSummary | plainify | htmlUnescape }}{{ if .Truncated }}...{{ end }}</p>
      </div>
    {{ end }}
    <!-- 元信息 -->
    {{ if not (.Param "hideMeta") }}
      <div class="meta">{{ partial "common/pageMeta.html" . }}</div>
    {{ end }}
    <a class="entryLink" aria-label="post link to {{ .Title | plainify }}" href="{{ .Permalink }}"></a>
  </article>
{{ end }}

<!-- 分页导航 -->
{{ partial "common/pagination.html" (dict "page" . "frontBackRange" 1) }}
