<!-- 页面元信息
  参数：
  . : 要获取元信息的页面
 -->

{{ $metas := newScratch }}
<!-- 时间 -->
{{ if not .Date.IsZero }}
  {{ $metas.Add "meta" (slice (printf "<span title='%s'>%s</span>" .Date (.Date | time.Format (site.Params.dateFormat | default "January 2, 2006")))) }}
{{ end }}

<!-- 阅读时间 -->
{{ if .Param "showReadingTime" }}
  {{ $metas.Add "meta" (slice ((T "readTime" .ReadingTime) | default (printf "%d min" .ReadingTime))) }}
{{ end }}

<!-- 字数 -->
{{ if .Param "showWordCount" }}
  {{ $metas.Add "meta" (slice ((T "words" .WordCount) | default (printf "%d words" .WordCount))) }}
{{ end }}

<!-- 作者 -->
{{ if .Param "showAuthor" }}
  {{ $metas.Add "meta" (slice (delimit (partial "common/GetAuthors.html" .) ",")) }}
{{ end }}

<!-- 合并元信息 -->
{{ delimit ($metas.Get "meta") "&nbsp;·&nbsp;" | safeHTML }}
