{{ define "main" }}
  <header>
    <h1>
      {{ .Title }}
      {{ if site.Params.ShowRssButtonInSectionTermList }}
        {{ with (.OutputFormats.Get "rss") | default (.Parent.OutputFormats.Get "rss") }}
          <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">{{ partial "common/svg.html" "rss" }}</a>
        {{ end }}
      {{ end }}
    </h1>
    {{ with .Description }}<div class="post-description">{{ . }}</div>{{ end }}
  </header>

  <!-- 得到所有要展示的页面 -->
  {{ $pages := where site.RegularPages "Layout" "not in" site.Params.specialPages }}
  {{ if not site.Params.ShowAllPagesInArchive }}{{ $pages = where $pages "Type" "in" site.Params.homeShowTypes }}{{ end }}

  <!-- 按发布日期展示 -->
  {{ range $pages.GroupByPublishDate "2006" }}
    <div class="archive-year">
      <h2 class="archive-year-header">{{ .Key }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup></h2>
      {{ range .Pages.GroupByDate "January" }}
        <div class="archive-month">
          <h3 class="archive-month-header">{{- .Key }}<sup class="archive-count">&nbsp;&nbsp;{{ len .Pages }}</sup></h3>
          <div class="archive-posts">
            {{ range .Pages }}
              <div class="archive-entry">
                <h3 class="archive-entry-title">
                  {{ .Title }}
                  {{ if .Draft }}<sup><span class="entry-isdraft">&nbsp;&nbsp;[draft]</span></sup>{{ end }}
                </h3>
                <div class="archive-meta">{{ partial "common/pageMeta.html" . }}</div>
                <a class="entry-link" aria-label="post link to {{ plainify .Title }}" href="{{ .Permalink }}"></a>
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
