{{ define "main" }}
  <header>
    <!-- 面包屑(细看) -->
    {{ partial "common/breadcrumbs.html" . }}
    <h1>
      {{ .Title }}
      {{ if and (or (eq .Kind "term") (eq .Kind "section")) site.Params.ShowRssButtonInSectionTermList }}
        {{ with .OutputFormats.Get "rss" }}
          <a href="{{ .RelPermalink }}" title="RSS" aria-label="RSS">{{ partial "common/svg.html" "rss" }}</a>
        {{ end }}
      {{ end }}
    </h1>
    {{ with .Description }}<div class="description">{{ markdownify . }}</div>{{ end }}
  </header>

  <!-- 得到所有文章 -->
  {{ $pages := (union .RegularPages .Sections) | partial "pageSort" }}
  <!-- 分页 -->
  {{ $paginator := .Paginate $pages }}

  {{ partial "common/pageList.html" . }}

  <!-- 设置 css 引用 -->
  {{ .Store.Add "css" (slice "list")}}
{{ end }}
