{{ define "main" }}
  <!-- 标题和元信息 -->
  <header>
    {{ partial "common/breadcrumbs.html" . }}
    <h1>
      {{ .Title }}
      {{ if .Draft }}<sup><span class="draft">&nbsp;[draft]</span></sup>{{ end }}
    </h1>
    {{ with .Description }}<div class="description">{{ . }}</div>{{ end }}
    <!-- 元信息 -->
    {{ if not (.Param "hideMeta") }}
      <div class="meta">
        {{ partial "common/pageMeta.html" . }}
        {{ partial "common/translationList.html" . }}
        {{ partial "single/editPost.html" . }}
        {{ partial "single/postCanonical.html" . }}
      </div>
    {{ end }}
  </header>
  <!-- 封面 -->
  {{ partial "common/cover.html" (dict "page" . "inList" false) }}
  <!-- 目录 -->
  {{ partial "single/toc.html" . }}

  <!-- Markdown 内容 -->
  {{ if .Content }}
    <div class="postContent">
      {{ partial "single/notHighlightCodeAddBlock.html" .Content }}
    </div>
  {{ end }}

  <!-- tags,上/下章链接/分享 -->
  <footer class="postFooter">
    <ul class="tags" role="list">{{ range .GetTerms "tags" }}<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>{{ end }}</ul>
    <!-- 上下页 -->
    {{ partial "single/postNavLinks.html" . }}
    <!-- 分享 -->
    {{ partial "single/shareIcons.html" . }}
  </footer>

  <!-- 评论 -->
  {{ partial "single/giscusComments.html" . }}
{{ end }}
