{{ define "main" }}
  <article class="post-single">
    <!-- 标题和元信息 -->
    <header class="post-header">
      {{ if .Param "ShowBreadCrumbs" }}{{ partial "common/breadcrumbs.html" . }}{{ end }}
      <h1 class="post-title">
        {{ .Title }}
        {{ if .Draft }}<sup><span class="entry-isdraft">&nbsp;[draft]</span></sup>{{ end }}
      </h1>
      {{ with .Description }}<div class="post-description">{{ . }}</div>{{ end }}
      <!-- 元信息 -->
      {{ if not (.Param "hideMeta") }}
        <div class="post-meta">
          {{ partial "common/pageMeta.html" . }}
          {{ partial "common/translationList.html" . }}
          {{ partial "single/editPost.html" . }}
          {{ partial "single/postCanonical.html" . }}
        </div>
      {{ end }}
    </header>
    <!-- 封面 -->
    {{ if not (.Params.cover.hidden | default site.Params.cover.hiddenInSingle) }}{{ partial "common/cover.html" (dict "page" . "inList" false) }}{{ end }}
    <!-- 目录 -->
    {{ if .Param "showToc" }}{{ partial "single/toc.html" . }}{{ end }}

    <!-- Markdown 内容 -->
    {{ if .Content }}
      <div class="post-content">
        {{ if .Param "disableAnchoredHeadings" }}{{ .Content }}{{ else }}
          {{ partial "anchored_headings.html" .Content }}
        {{ end }}
      </div>
    {{ end }}

    <!-- tags,上/下章链接/分享 -->
    <footer class="post-footer">
      <ul class="post-tags">{{ range .GetTerms "tags" }}<li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>{{ end }}</ul>
      <!-- 上下页 -->
      {{ partial "single/postNavLinks.html" . }}
      <!-- 分享 -->
      {{ partial "single/shareIcons.html" . }}
    </footer>

    <!-- 评论 -->
    {{ if .Param "giscusCommentsInfo.enabled" }}
      <div id="giscusComments"></div>
      {{ partial "single/giscusComments.html" . }}
    {{ end }}
  </article>
{{ end }}
