{{ define "main" }}
  {{ if .Title }}
    <header>
        <h1>{{ .Title }}</h1>
        {{ with .Description }}<div class="description">{{ . }}</div>{{ end }}
    </header>
  {{ end }}

  <ul class="termsTags" role="list">
    {{ range $key, $value := .Data.Terms.Alphabetical }}
      {{ $count := .Count }}
      {{ with site.GetPage (printf "/%s/%s" $.Type .Name) }}
        <li><a href="{{ .Permalink }}">{{ .Name }} <sup><strong><sup>{{ $count }}</sup></strong></sup> </a></li>
      {{ end }}
    {{ end }}
  </ul>
{{ end }}
