// 自己的一些重设

/* 基本结构标签处理 */
html {
  overflow-y: auto;
  overflow-x: hidden;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  word-break: break-word;
  background-color: var(--background-100);
  font-size: var(--default-font-size);
  color: var(--text-200);
}

/* 文本内容标签处理 */
h1 {
  font-size: 2.375em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
h4 {
  font-size: 1.25em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.875em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-block-start: 0.67em;
  margin-block-end: 0.38em;
  color: var(--text-100);
}
pre {
  background-color: var(--background-200);
  border-radius: var(--radius);
  font-family: "Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;";
  font-size: 0.833rem;
}
blockquote {
  margin: 20px 0;
  padding-inline-start: 14px;
  border-inline-start: 3px solid var(--border-100);
}
a {
  text-decoration: none;
}

/* 列表标签 */
ul,
ol {
  margin: 0;
  padding-inline-start: 20px;
}
ul[role="list"],
ol[role="list"] {
  padding: 0;
}

/* 表格标签 */
table {
  width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  margin-bottom: var(--gap);
}
th {
  text-align: start;
}
th,
td {
  padding: 8px 5px;
  border-bottom: 1px solid var(--border-100);
}

/* 表单标签 */
button {
  color: var(--text-100);
}
button,
input[type="button"],
input[type="submit"] {
  cursor: pointer;
}
input,
textarea {
  outline: 0;
}
button,
input,
textarea {
  border: 0;
  padding: 0;
  background: 0 0;
}
// 输入框被自动填充时的样式
input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 50px var(--background-300) inset;
}

/* 图像和多媒体标签 */
img {
  border-radius: var(--radius);
  margin: 1em 0;
  &[src*="#center"] {
    margin: 1rem auto;
  }
}

/* 语义化标签 */
header,
footer,
article,
section,
aside,
main,
figure,
figcaption {
  display: block;
}
