:root {
  // 主要按钮的背景色或强调元素
  --primary-100: rgb(0, 102, 204);
  // 悬停状态下的主要按钮颜色或次要按钮颜色
  --primary-200: rgb(51, 153, 255);
  // 主要按钮的边框或背景阴影
  --primary-300: rgb(179, 224, 255);
  // 链接颜色或次要强调元素
  --accent-100: rgb(0, 91, 204);
  // 边框颜色或背景阴影
  --accent-200: rgb(179, 224, 255);
  // 主文本颜色
  --text-100: rgb(0, 0, 0);
  // 辅助文本颜色
  --text-200: rgb(97, 97, 97);
  // 主背景颜色
  --bg-100: rgb(255, 255, 255);
  // 辅助背景颜色，例如侧边栏
  --bg-200: rgb(240, 240, 240);
  // 次要背景颜色，例如卡片或浮动元素
  --bg-300: rgb(210, 210, 210);
}

.dark {
  --primary-100: rgb(0, 133, 255);
  --primary-200: rgb(105, 180, 255);
  --primary-300: rgb(224, 255, 255);
  --accent-100: rgb(0, 111, 255);
  --accent-200: rgb(225, 255, 255);
  --text-100: rgb(255, 255, 255);
  --text-200: rgb(158, 158, 158);
  --bg-100: rgb(30, 30, 30);
  --bg-200: rgb(45, 45, 45);
  --bg-300: rgb(69, 69, 69);
}
