{{ $scratch := newScratch }}
<!-- 时间 -->
{{ if not .Date.IsZero }}
  {{ $scratch.Add "meta" (slice (printf "<span title='%s'>%s</span>" .Date (time.Format (default "January 2, 2006" site.Params.DateFormat) .Date))) }}
{{ end }}

<!-- 显示阅读时间 -->
{{ if .Param "ShowReadingTime" }}
  {{ $scratch.Add "meta" (slice (default (printf "%d min" .ReadingTime) (i18n "read_time" .ReadingTime))) }}
{{ end }}

<!-- 显示字数 -->
{{ if (.Param "ShowWordCount") }}
  {{ $scratch.Add "meta" (slice (default (printf "%d words" .WordCount) (i18n "words" .WordCount))) }}
{{ end }}

<!-- 作者 -->
{{ if not (.Param "HideAuthor") }}
  {{ with (partial "author.html" .) }}
    {{ $scratch.Add "meta" (slice .) }}
  {{ end }}
{{ end }}

<!-- 分割元数据 -->
{{ with ($scratch.Get "meta") }}
  {{ (delimit . "&nbsp;·&nbsp;") | safeHTML }}
{{ end }}
