// 主题变量2
// 在html上添加 theme="red" 使用该主题
// document.documentElement.setAttribute("theme","red");

[theme="red"] {
  &:root {
    // 背景
    --background-100: #fff;
    --background-200: #f9f9fb;
    --background-300: #ebeaea;
    // 边框
    --border-100: #cdcdcd;
    --border-100: #696969;
    // 文字
    --text-100: #1b1b1b;
    --text-200: #4e4e4e;
    --text-300: #9e9e9ea6;
    // 链接
    --link-100: #0069c2;
    --link-100: #551a8b;
    // 交互
    --interaction: #0066cc;
  }

  .dark {
    // 背景
    --background-100: #1b1b1b;
    --background-200: #313131;
    --background-300: #858585;
    // 边框
    --border-100: #858585;
    --border-100: #696969;
    // 文字
    --text-100: #fff;
    --text-200: #cdcdcd;
    --text-300: #858585;
    // 链接
    --link-100: #8cb4ff;
    --link-100: #ffadff;
    // 交互
    --interaction: #0066cc;
  }
}
