// 主题变量

:root {
  // 背景
  --background-100: #fff;
  --background-200: #d9d9d9;
  --background-300: #bbbbbb;
  // 边框
  --border-100: #adadad;
  --border-200: #c9c9c9;
  // 文字
  --text-100: #1b1b1b;
  --text-200: #4e4e4e;
  --text-300: #9e9e9ea6;
  // 链接
  --link-100: #0069c2;
  --link-200: #551a8b;
  // 交互
  --interaction: #0066cc;
}

.dark {
  // 背景
  --background-100: #1b1b1b;
  --background-200: #313131;
  --background-300: #555555;
  // 边框
  --border-100: #858585;
  --border-200: #696969;
  // 文字
  --text-100: #fff;
  --text-200: #cdcdcd;
  --text-300: #858585;
  // 链接
  --link-100: #8cb4ff;
  --link-200: #ffadff;
  // 交互
  --interaction: #0066cc;
}
