// 自定义变量
// 在html上添加 theme="customTheme" 使用该主题
// document.documentElement.setAttribute("theme","customTheme");

// 浅色主题
@mixin light {
  // 背景
  --background-100: #ffffff;
  --background-200: #f0f0f0;
  --background-300: #d2d2d2;
  // 边框
  --border-100: #adadad;
  --border-200: #c9c9c9;
  // 文字
  --text-100: #000000;
  --text-200: #616161;
  --text-300: #9b9b9b;
  // 链接
  --link-100: #0069c2;
  --link-200: #551a8b;
  // 交互
  --interaction: #0066cc;
}
// 深色主题
@mixin dark {
  // 背景
  --background-100: #1e1e1e;
  --background-200: #2d2d2d;
  --background-300: #454545;
  // 边框
  --border-100: #858585;
  --border-200: #696969;
  // 文字
  --text-100: #ffffff;
  --text-200: #9e9e9e;
  --text-300: #646464;
  // 链接
  --link-100: #8cb4ff;
  --link-200: #ffadff;
  // 交互
  --interaction: #0085ff;
}
[theme="customTheme"] {
  &.light {
    @include light;
  }
  &.dark {
    @include dark;
  }

  @media (prefers-color-scheme: light) {
    &:root:not(.light):not(.dark) {
      @include light;
    }
  }
  @media (prefers-color-scheme: dark) {
    &:root:not(.light):not(.dark) {
      @include dark;
    }
  }
}
