// 变量

:root {
  // 默认字体大小
  --default-font-size: 16px;

  // heade 高
  --header-height: 60px;
  // heade 宽
  --header-width: 1024px;
  // footer 高
  --footer-height: 60px;
  // 主体宽
  --main-width: 720px;

  // 圆角半径
  --radius: 3px;

  // 间距
  --gap: 24px;
}

@media screen and (max-width: 768px) {
  :root {
    --gap: 14px;
  }
}
