<!-- giscus 评论模板
  参数：
  . : 文章页面上下文
-->

{{ if .Param "giscusCommentsInfo.enabled" }}
  <div id="giscusComments"></div>
  <!-- 订阅评论通知方法 -->
  <script>
  /**
   * giscus 评论系统消息发送封装
   * @param {object} message 消息内容
   * message{
   *      theme?: Theme;
   *      repo?: string;
   *      repoId?: string;
   *      category?: string;
   *      categoryId?: string;
   *      term?: string;
   *      description?: string;
   *      backLink?: string;
   *      number?: number;
   *      strict?: boolean;
   *      reactionsEnabled?: boolean;
   *      emitMetadata?: boolean;
   *      inputPosition?: InputPosition;
   *      lang?: AvailableLanguage;
   *  }
   */
  function giscusSendMessage(message) {
    const giscusIframe = document.querySelector('iframe.giscus-frame');
    if(!giscusIframe)return;

    // 已加载，发送消息
    if(window.GLOBAL_CUSTOM_OBJECT.GiscusiFrameIsLoad){
      giscusIframe.contentWindow.postMessage({ giscus: {setConfig : message}}, 'https://giscus.app');
    }else{ // 未加载时直接替换 giscusIframe 的链接
      // 在safari中不能使用向前断言`(?<=...)`正则表达式会出错
      // giscusIframe.src = giscusIframe.src.replace(/(?<=[?|&]theme=)\w+/, message.theme);
      // 所以使用下面的方法替换
      giscusIframe.src = giscusIframe.src.replace(/([?|&]theme=)(\w+)/, `$1${message.theme}`);
    }
  }
  </script>

  <!-- 动态添加评论 -->
  <script>
  // 得到用户自定义主题
  let sys_theme = localStorage.getItem("pref-theme")
  // 如果没有用户自定义主题
  if(!sys_theme){
    // 得到配置中的主题
    sys_theme = "{{ site.Params.defaultTheme }}";
    // 如果是自动,获取系统主题
    if(sys_theme == 'auto') sys_theme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
  }

  // 动态加载giscus评论
  const script = document.createElement('script');
  script.setAttribute('src', 'https://giscus.app/client.js');
  script.setAttribute('data-repo', 'Linlccc/Linlccc.github.io');
  script.setAttribute('data-repo-id', 'R_kgDOI9kokw');
  script.setAttribute('data-category', 'Announcements');
  script.setAttribute('data-category-id', 'DIC_kwDOI9kok84CUU3Q');
  script.setAttribute('data-mapping', 'pathname');
  script.setAttribute('data-strict', '0');
  script.setAttribute('data-reactions-enabled', '1');
  script.setAttribute('data-emit-metadata', '0');
  script.setAttribute('data-input-position', 'bottom');
  script.setAttribute('data-theme', sys_theme);
  script.setAttribute('data-lang', 'zh-CN');
  script.setAttribute('data-loading', 'lazy'); // 如果启动懒加载会导致没加载评论时修改主题评论不会跟着改变
  script.setAttribute('crossorigin', 'anonymous');
  script.async = true;
  document.getElementById("giscusComments").appendChild(script);

  // 监听js加载完成,并且监听懒加载的iframe是否加载
  script.addEventListener('load', ()=>{
    // 得到评论区的iframe
    const giscusIframe = document.querySelector('iframe.giscus-frame');
    giscusIframe.addEventListener('load', ()=>{
      window.GLOBAL_CUSTOM_OBJECT.GiscusiFrameIsLoad = !0;
    });
  }, false);

  // 监听主题变化
  window.GLOBAL_CUSTOM_EVENT.ThemeToggleEvent.subscribe((theme) => {
    // 向giscus发送消息
    giscusSendMessage({theme: theme});
  });
  </script>
{{ end }}
