<!-- 页脚模板
  参数：
  . : 页面上下文
-->

<!-- 得到网站运行时间段 -->
{{ $siteStartYear := cond (eq (printf "%T" site.Params.startYear) "int") site.Params.startYear 9999 }}
{{ $currentYear := now.Year }}
{{ $rangeYear := cond (and $siteStartYear (gt $currentYear $siteStartYear)) (printf "%d - %d" $siteStartYear $currentYear) $currentYear }}

<!-- 页脚 -->
{{- if not site.Params.hideFooter }}
  <footer class="footer">
    <!-- 版权 -->
    {{- with site.Copyright -}}<span>{{ . }}</span>{{ else -}}
    <span>© {{ $rangeYear }} <a href="{{ absLangURL "" }}">{{ site.Title }}</a> All Rights Reserved</span>
    {{- end -}}

    <!-- 提供商 -->
    {{- with site.Params.powereds -}}
      {{ $pLenSub1 := sub (len .) 1 }}
      <span>| Powered by
        {{ range $i,$v := . }}<a href="{{ $v.url }}" rel="noopener" target="_blank">{{ $v.name }}</a>{{ if ne $i $pLenSub1 }} & {{ end }}{{ end }}
      </span>
    {{ end -}}
  </footer>
{{ end -}}

<!-- 回到顶部 -->
{{ if not site.Params.disableGoToTop }}
  <a id="topLink" href="#top" aria-label="{{ T "goToTop" | default "Go to Top" }}" title="{{ T "goToTop" | default "Go to Top"  }} (Alt + G)" accesskey="g"> {{ partial "common/svg.html" "upward_triangle" }} </a>
{{ end }}

<!-- 设置 js 引用 -->
{{ .Store.Add "js" (slice "footer")}}
