<!-- 基础 head 元素 -->
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="application-name" content="{{ site.Title }}">

<!-- 标题 -->
{{- $title := site.Title -}}
{{ if not .IsHome | and .Title }}{{ $title = print .Title " | " $title }}{{ end -}}
<title>{{ $title }}</title>

<!-- 描述，页面描述 or 页面摘要 or 站点描述 or 标题 -->
{{- $description := or .Description .Summary site.Params.description $title -}}
<meta name="description" content="{{ $description }}" />

<!-- 作者，页面作者 or git作者 or 站点作者 -->
{{- $authors := or .Params.authors .GitInfo.AuthorName site.Params.authors slice -}}
{{- $authors = delimit ($authors | partial "toArray") "," -}}
<meta name="author" content="{{ $authors }}" />

<!-- 关键字，页面关键字 or 页面标签 or 页面分类 or 站点关键字 -->
{{- $keywords := or .Params.keywords .Params.tags .Params.categories site.Params.keywords slice -}}
{{- $keywords = delimit ($keywords | partial "toArray") "," -}}
<meta name="keywords" content="{{ $keywords }}" />

<!-- iphone 手机浏览器上下空白区域颜色 -->
<meta name="theme-color" content="{{ site.Params.theme_color | default "var(--theme)" }}">

<!-- 自定义 meta -->
{{- range site.Params.customMetas -}}
  <meta name="{{ .name }}" content="{{ .content }}" />
{{ end }}

<!-- 原链接 -->
{{- $canonicalURL := .Params.canonicalURL | default .Permalink -}}
<link rel="canonical" href="{{ $canonicalURL }}" />

<!-- SSR -->
{{- range .AlternativeOutputFormats -}}
  <link rel="{{ .Rel }}" type="{{ .MediaType.Type | html }}" href="{{ .Permalink }}">
{{ end }}

<!-- 所有翻译 -->
{{- range .AllTranslations -}}
  <link rel="alternate" hreflang="{{ .Lang }}" href="{{ .Permalink }}">
{{ end -}}

<!-- manifest配置(安装到桌面,iphone添加到桌面时独立打开) -->
<!-- TODO：考虑通过模板生成该文件使用 ExecuteAsTemplate 函数 -->
{{- if site.Params.isEnableManifest -}}<link rel="manifest" href="/manifest.json" />{{ end }}

<!-- 图标 -->
{{- partialCached "head/favicon.html" . -}}
