<!-- js 字典定义模板
  参数：
  . : 页面上下文
-->

<!-- 为按需引入创建一个 js 引用数组 -->
{{ .Store.Set "js" (slice "globalProp" "common") }}
<!-- 创建 js 引用字典 -->
 <!-- 参数：path(文件路径)  import(引入，默认输出)  params(参数) -->
<!-- 全局属性 -->
{{ $jsDict := dict "globalProp" (dict "path" "js/function/globalProp.js") }}
<!-- 公共 js -->
{{ $jsDict = merge $jsDict (dict "common" (dict "path" "js/function/common.js")) }}
<!-- header -->
{{ $jsDict = merge $jsDict (dict "header" (dict "path" "js/function/header.js")) }}
<!-- footer -->
{{ $jsDict = merge $jsDict (dict "footer" (dict "path" "js/function/footer.js" "import" true)) }}
<!-- 文章 -->
{{ $jsDict = merge $jsDict (dict "single" (dict "path" "js/function/single.js" "import" true "params" (dict "conf" (dict "copy" (T "copy" | default "copy") "copied" (T "copied" | default "copied"))))) }}
<!-- giscus 评论 -->
{{ $jsDict = merge $jsDict (dict "giscus" (dict "path" "js/function/giscus.js" "import" true "params" (dict "conf" site.Params.giscusComments.conf))) }}
<!-- 搜索 -->
{{ $jsDict = merge $jsDict (dict "fuse" (dict "path" "js/search/fuse.min.js" "import" true)) }}
{{ $jsDict = merge $jsDict (dict "search" (dict "path" "js/search/search.js" "import" true "params" (dict "fuseOptions" site.Params.fuseOptions))) }}
{{ .Store.Set "jsDict" $jsDict }}
