<!-- 搜索 js 模板
  参数：
  . : 页面上下文
-->

<!-- 搜索,TODO:搜索js后面写js的时候再优化 -->
{{- if eq .Layout "search" -}}
  {{ $fastsearchJs := resources.Get "js/fastsearch.js" | js.Build (dict "params" (dict "fuseOpts" site.Params.fuseOpts)) }}
  {{ $fuseJs := resources.Get "js/fuse.basic.min.js" }}
  {{ $searchJs := slice $fuseJs $fastsearchJs | resources.Concat "assets/js/search.js" | minify | fingerprint }}
  <script defer crossorigin="anonymous" src="{{ $searchJs.RelPermalink }}" integrity="{{ $searchJs.Data.Integrity }}"></script>
{{- end -}}

{{- if eq .Layout "search" -}}
  {{ $fastsearchJs := resources.Get "js/search/search.js" | js.Build (dict "params" (dict "fuseOptions" site.Params.fuseOptions)) }}
  {{ $fuseJs := resources.Get "js/search/fuse.min.js" }}
  {{ $searchJs := slice $fuseJs $fastsearchJs | resources.Concat "assets/js/search1.js" | minify | fingerprint }}
  <script defer crossorigin="anonymous" src="{{ $searchJs.RelPermalink }}" integrity="{{ $searchJs.Data.Integrity }}"></script>
{{- end -}}
