<!-- 页面元信息
  参数：
  . : 要获取元信息的页面
 -->

{{ $metas := slice }}
<!-- 时间 -->
{{ $date := cond (not (.Param "showLastmod")) .Date .Lastmod }}
{{ if not $date.IsZero }}
  {{ $metas = $metas | append (printf "<span title='%s'>%s</span>" $date ($date | time.Format (site.Params.dateFormat | default "January 2, 2006"))) }}
{{ end }}

<!-- 阅读时间 -->
{{ if .Param "showReadingTime" }}
  {{ $metas = $metas | append ((T "readTime" .ReadingTime) | default (printf "%d min" .ReadingTime)) }}
{{ end }}

<!-- 字数 -->
{{ if .Param "showWordCount" }}
  {{ $metas = $metas | append ((T "words" .WordCount) | default (printf "%d words" .WordCount)) }}
{{ end }}

<!-- 作者 -->
{{ if .Param "showAuthor" }}
  {{ $metas = $metas | append (delimit (partial "common/GetAuthors.html" .) ",") }}
{{ end }}

<!-- 合并元信息 -->
{{ delimit $metas "&nbsp;·&nbsp;" | safeHTML }}
