{{/* 搜索页模板
  使用该模板要求：
  layout : search
*/}}

{{ define "main" }}
  <header>
    <h1>{{ .Title }}{{ partial "common/svg.html" "search" }}</h1>
    {{ with .Description }}<div class="description">{{ . }}</div>{{ end }}
    {{ if not (.Param "hideMeta") }}<div class="meta">{{ partial "common/translationList.html" . }}</div>{{ end }}
  </header>
  <!-- 结果显示列表 -->
  <div id="searchbox">
    <input id="searchInput" autofocus placeholder="{{ .Params.placeholder | default (printf "%s ↵" .Title) }}" aria-label="search" type="search" autocomplete="off" maxlength="64">
    <ul id="searchResults" role="list" aria-label="search results"></ul>
  </div>

  <!-- 设置 css 引用 -->
  {{ .Store.Add "css" (slice "search")}}
  <!-- 设置 js 引用 -->
  {{ .Store.Add "js" (slice "fuse")}}
  {{ .Store.Add "js" (slice "search")}}
{{ end }}
