<!-- 文章上下页模板
  . : 文章页上下文
-->

{{ $pages := (where site.RegularPages "Type" "in" site.Params.homeShowTypes) | partial "pageSort"  }}
{{ if .Param "showPostNavLinks" }}
  <nav class="paginav">
    {{ with $pages.Next . }}
      <a class="prev" href="{{ .Permalink }}">
        <span class="pn">« {{ T "prevPage" | default "Prev" }}</span><br><span class="title">{{ .Name }}</span>
      </a>
    {{ end }}
    {{ with $pages.Prev . }}
      <a class="next" href="{{ .Permalink }}">
        <span  class="pn">{{ T "nextPage" | default "Next" }} »</span><br><span class="title">{{ .Name }}</span>
      </a>
    {{ end }}
  </nav>
{{ end }}
