@import "./chroma-styles.scss";
// 文章页面样式

// 目录
.toc {
  margin: 0 2px 40px 2px;
  padding: 0.4em;
  background: var(--background-200);
  border-radius: var(--radius);
  user-select: none;
  font-size: 17px;

  // 打开状态下
  &[open] {
    summary {
      cursor: zoom-out;
    }
  }

  summary {
    cursor: zoom-in;
    margin-inline-start: 20px;
  }
  .inner {
    padding: 10px 20px;
    li a {
      color: currentColor;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      &:hover {
        border-bottom-color: inherit;
      }
    }
  }
  // 无序
  li {
    line-height: 1.6;
    ul,
    ol {
      margin-inline-start: var(--gap);
    }
  }
  // 有序
  ol {
    list-style-type: none;
    counter-reset: item;
    padding-inline-start: 0;

    a::before {
      counter-increment: item;
      content: counters(item, ".") ". ";
      font-weight: 600;
      margin-right: 5px;
    }
  }
}

// 内容元素重写
.postContent {
  dl,
  ol,
  ul,
  p,
  figure {
    margin-bottom: var(--gap);
  }
  li {
    margin-top: 5px;
  }
  dl {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  dt {
    width: 25%;
    font-weight: 700;
  }
  dd {
    width: 75%;
    margin-inline-start: 0;
    padding-inline-start: 10px;
  }
  dd ~ dd,
  dt ~ dt {
    margin-top: 10px;
  }
  hr {
    margin: 30px 0;
    height: 2px;
    background: var(--border-100);
    border: 0;
  }
  iframe {
    max-width: 100%;
  }
  figure {
    &.alignCenter {
      text-align: center;
    }
    > figcaption {
      color: var(--text-100);
      font-size: 16px;
      font-weight: bold;
      margin: 8px 0 16px;
      > p {
        color: var(--text-200);
        font-size: 14px;
        font-weight: normal;
      }
    }
  }
  pre {
    margin: 1rem 0 2rem;
    padding: 10px;
    code {
      margin: 0;
      padding: 0;
      background: 0;
    }
  }
  code {
    padding: 0.125rem 0.25rem;
    margin: auto 2px;
    color: currentColor;
    word-break: break-all;
  }
}

// 清除代码高亮主题背景
.chroma {
  background: 0;
}
// 内容样式
.postContent {
  h1:hover .anchor,
  h2:hover .anchor,
  h3:hover .anchor,
  h4:hover .anchor,
  h5:hover .anchor,
  h6:hover .anchor {
    display: inline-flex;
    color: var(--text-300);
    margin-inline-start: 8px;
    font-weight: 500;
    user-select: none;
  }

  // 代码块生成内容
  .chroma {
    // 生成在表格内时
    table {
      // 消除行号和代码中间的间隙和缺口
      td {
        padding: 0;
        &:nth-child(1) {
          pre {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
          }
        }
        &:nth-child(2) {
          width: 100%;

          pre {
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
        // 代码处理成一行,不显示行号
        > span {
          display: none;
        }
      }
    }
    // 不生成到表格中
    > code {
      .ln {
        margin-right: 20px;
        width: 1.8rem;
        max-width: 1.8rem;
      }
      .lnt {
        margin: 0;
      }
      .ln,
      .lnt {
        display: flex;
        justify-content: flex-end;
        user-select: none;
      }
    }
  }

  // 代码块容器
  .codeBlock {
    background: var(--background-200);
    border-radius: 0.25rem;
    overflow: hidden;
    margin-bottom: var(--gap);

    // 头部容器
    details {
      summary {
        height: 36px;
        padding: 3px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        user-select: none;
        cursor: zoom-in;
        font-weight: 700;
        font-size: 14px;
        border-bottom: 1px solid;

        &::marker {
          content: "";
        }
        // 操作
        .oper {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 8px;

          .status {
            height: 16px;
            width: 16px;
            background: var(--background-300);
            border-radius: var(--radius);
            color: var(--text-100);
            text-align: center;
            font-size: 10px;

            &::before {
              content: "-";
            }
          }
          .codeCopy {
            height: 28px;
            padding: 0 5px;
            border: 1px solid transparent;
            border-radius: 10px;
            box-sizing: border-box;
            background: var(--background-300);

            &:hover {
              border: 1px solid var(--border-200);
              background: var(--interaction);
            }
          }
        }
      }
      // 打开状态样式
      &[open] {
        summary {
          cursor: zoom-out;

          .oper {
            .status {
              background: var(--interaction);

              &::before {
                content: "+";
              }
            }
          }
        }
      }

      // 代码内容容器
      + .codeBlockContent {
        overflow: auto;
        max-height: 0px;
        transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);

        table,
        pre {
          margin: 0;
          border-radius: 0;
        }
        table {
          overflow: revert;
        }
        pre {
          background: 0;
        }

        // 代码块滚动条
        &::-webkit-scrollbar-thumb {
          background: var(--background-300);
          border: 2px solid var(--background-200);
        }
        &::-webkit-scrollbar-thumb:hover {
          background: var(--interaction);
        }
      }
      // 打开状态下容器
      &[open] + .codeBlockContent {
        max-height: 1000px;
        transition: max-height 0.3s cubic-bezier(0.5, 0, 1, 0);
      }
    }
  }
}

// 页脚（tags,上/下章链接/分享）
.postFooter {
  margin: 30px 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .tags {
    display: flex;
    gap: 10px;

    a {
      padding: 0 14px;
      font-size: 14px;
      color: var(--text-200);
    }
  }
  .paginav {
    a {
      width: 50%;
      padding: 0 14px;
      border-radius: var(--radius);

      &:hover .title {
        box-shadow: 0 1px 0;
      }
    }
    .next {
      margin-inline-start: auto;
      text-align: end;
    }
    .pn {
      letter-spacing: 1px;
      text-transform: uppercase;
      font-size: small;
      color: var(--text-200);
    }
  }
  .shareButtons {
    justify-content: center;
    gap: var(--gap);
    overflow-x: auto;

    a {
      padding: 10px;
      display: inline-flex;
      border-radius: var(--radius);
    }
    svg {
      height: 30px;
      width: 30px;
    }
  }

  .tags a,
  .paginav,
  .shareButtons {
    display: flex;
    background: var(--background-200);
    border: 1px solid var(--border-200);
    border-radius: var(--radius);
    line-height: 30px;
  }
  .tags a:hover,
  .paginav a:hover,
  .shareButtons a:hover {
    background: var(--bg-300);
  }
}

// 屏幕大于 1280 时
@media screen and (min-width: 1280px) {
  .toc {
    position: fixed;
    z-index: 990;
    top: var(--header-height);
    transform: translateX(calc(var(--main-width) + var(--gap) / 2));
    width: 20vw;
    max-width: 460px;
    font-size: 15px;
    overflow: auto;
    max-height: calc(100% - var(--header-height) - var(--footer-height));
    li {
      &.active {
        &:before {
          content: "";
          position: absolute;
          left: 8px;
          height: 24px;
          width: 3px;
          background: var(--border-100);
        }
        > a {
          color: var(--text-100);
          &::after {
            content: "";
            position: absolute;
            left: 8px;
            height: 24px;
            width: calc(100% - 8px);
            background: var(--border-200);
            opacity: 0.7;
            z-index: -1;
          }
        }
      }
      a {
        color: var(--text-200);
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
