// 文章列表样式

// 文章入口
.postEntry {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--background-200);
  border: 1px solid var(--border-200);
  border-radius: var(--radius);
  transition: transform 0.1s;
  &:active {
    transform: scale(0.96);
  }
  h2 {
    margin: 0;
  }

  .content {
    margin: 8px 0;
    color: var(--text-200);
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

// tag 文章入口
.tagEntry {
  .cover {
    display: none;
  }
}

// 分页样式
.pagination {
  display: flex;
  justify-content: left;
  font-weight: 700;
  overflow-x: auto;
  user-select: none;

  .pageItem {
    margin: 0.5rem;
    border-radius: var(--radius);
    overflow: hidden;

    &.active {
      background: var(--interaction);
    }
    &:not(.active) a:hover {
      color: var(--interaction);
    }
  }
  .pageLink {
    padding: 4px 8px;
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
