<!-- css 字典定义模板
  参数：
  . : 页面上下文
-->

<!-- 为按需引入创建一个 css 引用空数组 -->
{{ .Store.Set "css" slice }}
<!-- 创建 css 引用字典 -->
<!-- home -->
{{ $cssDict := dict "classic" (dict "path" "sass/partials/home/classic.scss") }}
{{ $cssDict = merge $cssDict (dict "profile" (dict "path" "sass/partials/home/profile.scss" "import" true)) }}
<!-- list -->
{{ $cssDict = merge $cssDict (dict "list" (dict "path" "sass/partials/list.scss" "import" true)) }}
<!-- 搜索 -->
{{ $cssDict = merge $cssDict (dict "search" (dict "path" "sass/partials/search.scss" "import" true)) }}
<!-- 分类 -->
{{ $cssDict = merge $cssDict (dict "terms" (dict "path" "sass/partials/terms.scss" "import" true)) }}
<!-- 档案 -->
{{ $cssDict = merge $cssDict (dict "archive" (dict "path" "sass/partials/archive.scss" "import" true)) }}
<!-- 404 -->
{{ $cssDict = merge $cssDict (dict "404" (dict "path" "sass/partials/404.scss" "import" true)) }}
<!-- 文章 -->
{{ $cssDict = merge $cssDict (dict "single" (dict "path" "sass/partials/single/single.scss" "import" false)) }}
{{ .Store.Set "cssDict" $cssDict }}

<!-- 这里将通用css引入，避免闪屏-->
{{ if site.Params.css.isImportDemand }}
  <!-- 引入通用 css -->
  {{ $style := resources.Get "sass/main.scss" | toCSS (dict "targetPath" "assets/css/styles.css" "enableSourceMap" true) | minify | fingerprint }}
  <link crossorigin="anonymous" rel="preload stylesheet" as="style" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
{{ else }}
  <!-- 引入所有 css -->
  {{ $style := resources.Get "sass/mainAll.scss" | toCSS (dict "targetPath" "assets/css/stylesAll.css" "enableSourceMap" true) | minify | fingerprint }}
  <link crossorigin="anonymous" rel="preload stylesheet" as="style" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
{{ end }}
