<!-- 图标模板
  参数：
  . : 页面上下文
-->

<!-- 深色图标 -->
<link rel="icon" type="image/x-icon" media="(prefers-color-scheme: dark)" href="{{ site.Params.favicon.dark.favicon }}" />
<link rel="icon" type="image/svg+xml" media="(prefers-color-scheme: dark)" href="{{ site.Params.favicon.dark.icon }}" />
<link rel="icon" type="image/png" sizes="16x16" media="(prefers-color-scheme: dark)" href="{{ site.Params.favicon.dark.favicon_16 }}" />
<link rel="icon" type="image/png" sizes="32x32" media="(prefers-color-scheme: dark)" href="{{ site.Params.favicon.dark.favicon_32 }}" />
<link rel="icon" type="image/png" sizes="192x192" media="(prefers-color-scheme: dark)" href="{{ site.Params.favicon.dark.favicon_192 }}" />
<link rel="icon" type="image/png" sizes="512x512" media="(prefers-color-scheme: dark)" href="{{ site.Params.favicon.dark.favicon_512 }}" />
<link rel="apple-touch-icon" sizes="180x180" media="(prefers-color-scheme: dark)" href="{{ site.Params.favicon.dark.favicon_180 }}" />
<!-- 浅色图标 -->
<link rel="icon" type="image/x-icon" media="(prefers-color-scheme: light)" href="{{ site.Params.favicon.light.favicon }}" />
<link rel="icon" type="image/svg+xml" media="(prefers-color-scheme: light)" href="{{ site.Params.favicon.light.icon }}" />
<link rel="icon" type="image/png" sizes="16x16" media="(prefers-color-scheme: light)" href="{{ site.Params.favicon.light.favicon_16 }}" />
<link rel="icon" type="image/png" sizes="32x32" media="(prefers-color-scheme: light)" href="{{ site.Params.favicon.light.favicon_32 }}" />
<link rel="icon" type="image/png" sizes="192x192" media="(prefers-color-scheme: light)" href="{{ site.Params.favicon.light.favicon_192 }}" />
<link rel="icon" type="image/png" sizes="512x512" media="(prefers-color-scheme: light)" href="{{ site.Params.favicon.light.favicon_512 }}" />
<link rel="apple-touch-icon" sizes="180x180" media="(prefers-color-scheme: light)" href="{{ site.Params.favicon.light.favicon_180 }}" />
