// 基础样式

// 背景颜色
body {
  background: var(--bg-100);
}

// 默认文字颜色
a,
button,
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-100);
}

// 输入框被自动填充时的样式
input:-webkit-autofill,
textarea:-webkit-autofill {
  box-shadow: 0 0 0 50px var(--bg-100) inset;
}
