// footer 样式
.footer {
  max-width: calc(var(--header-width) + var(--gap) * 2);
  margin: auto;
  padding: calc((var(--footer-height) - var(--gap)) / 2) var(--gap);
  text-align: center;
  line-height: 24px;
  font-size: 12px;
  color: var(--text-200);

  span {
    margin-inline-start: 1px;
    margin-inline-end: 1px;

    &:last-child {
      white-space: nowrap;
    }
  }
}

// 回到顶部样式
#topLink {
  $width_height: 42px;

  width: $width_height;
  height: $width_height;
  padding: 12px;
  position: fixed;
  bottom: 60px;
  right: -$width_height;
  background: var(--background-200);
  border-radius: var(--radius);
  z-index: 999;
  font-size: 12px;
  color: var(--text-100);
  transition: right 0.5s;

  &.show {
    right: var(--gap);
  }

  svg {
    width: 18px;
    height: 9px;
  }

  &:hover {
    color: var(--interaction);
  }
}
