// 主体样式

.main {
  position: relative;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  max-width: calc(var(--main-width) + var(--gap) * 2);
  margin: auto;
  padding: var(--gap);

  // 主体头部
  > header {
    margin: 24px auto var(--gap);
    display: flex;
    flex-direction: column;
    gap: 5px;

    .breadcrumbs {
      color: var(--text-200);
    }
    h1 {
      font-size: 38px;
    }
    .description {
      color: var(--text-200);
      font-style: italic;
    }
    .meta {
      color: var(--text-200);
      font-size: 14px;
      display: flex;

      .i18nList li {
        display: inline-flex;
        margin: auto 3px;
        box-shadow: 0 1px 0 var(--text-200);
      }
    }
  }
}
