<a id="top-link" class="top-link" href="#top" aria-label="{{ T "goToTop" }}" title="{{ T "goToTop" }} (Alt + G)" accesskey="g"> {{ partial "common/svg.html" "upward_triangle" }} </a>
<!-- TODO:这里看js每个功能写在指定模板里还是统一写在js里 -->
<script>
  const goTopButton = document.getElementById("top-link");
  window.addEventListener("scroll", () => {
    if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
      goTopButton.style.visibility = "visible";
      goTopButton.style.opacity = "1";
    } else {
      goTopButton.style.visibility = "hidden";
      goTopButton.style.opacity = "0";
    }
  });
</script>
