<!-- 页脚模板
  参数：
  . : 页面上下文
-->

<!-- 得到网站运行时间段 -->
{{ $siteStartYear := cond (eq (printf "%T" site.Params.startYear) "int") site.Params.startYear 9999 }}
{{ $currentYear := now.Year }}
{{ $rangeYear := cond (and $siteStartYear (gt $currentYear $siteStartYear)) (printf "%d - %d" $siteStartYear $currentYear) $currentYear }}

<!-- 页脚 -->
{{- if not site.Params.hideFooter }}
  <footer class="footer">
    <!-- 版权 -->
    {{- with site.Copyright -}}<span>{{ . }}</span>{{ else -}}
    <span>© {{ $rangeYear }} <a href="{{ absLangURL "" }}">{{ site.Title }}</a> All Rights Reserved</span>
    {{- end -}}

    <!-- 提供商 -->
    {{- with site.Params.powereds -}}
      {{ $pLenSub1 := sub (len .) 1 }}
      <span>| Powered by
        {{ range $i,$v := . }}<a href="{{ $v.url }}" rel="noopener" target="_blank">{{ $v.name }}</a>{{ if ne $i $pLenSub1 }} & {{ end }}{{ end }}
      </span>
    {{ end -}}
  </footer>
{{ end -}}

<!-- 回到顶部 -->
{{ if not site.Params.disableGoToTop }}
  <a id="topLink" href="#top" aria-label="{{ T "goToTop" | default "Go to Top" }}" title="{{ T "goToTop" | default "Go to Top"  }} (Alt + G)" accesskey="g"> {{ partial "common/svg.html" "upward_triangle" }} </a>
{{ end }}

<!-- TODO:以下的js都需要统一处理 -->



<!-- 是普通页面 && 不是特殊页面 && 显示代码复制按钮 -->
<!-- 后面修改可以参考以下方案
  const code = document.getElementsByClassName("codeBlock")[4].getElementsByTagName("code")[0];
  const range = document.createRange();
  range.selectNodeContents(code);
  const selection = window.getSelection();
  selection.removeAllRanges();
  selection.addRange(range);
  document.execCommand('copy');
 -->
{{- if (and (eq .Kind "page") (not (in site.Params.specialPages .Layout)) (.Param "showCodeCopyButtons")) }}
<script>
    document.querySelectorAll('pre > code').forEach((codeblock) => {
        const container = codeblock.parentNode.parentNode;

        const copybutton = document.createElement('button');
        copybutton.classList.add('copy-code');
        copybutton.innerHTML = '{{- i18n "code_copy" | default "copy" }}';

        function copyingDone() {
            copybutton.innerHTML = '{{- i18n "code_copied" | default "copied!" }}';
            setTimeout(() => {
                copybutton.innerHTML = '{{- i18n "code_copy" | default "copy" }}';
            }, 2000);
        }

        copybutton.addEventListener('click', (cb) => {
            if ('clipboard' in navigator) {
                navigator.clipboard.writeText(codeblock.textContent);
                copyingDone();
                return;
            }



            const range = document.createRange();
            range.selectNodeContents(codeblock);
            const selection = window.getSelection();
            selection.removeAllRanges();
            selection.addRange(range);
            try {
                document.execCommand('copy');
                copyingDone();
            } catch (e) { };
            selection.removeRange(range);
        });

        if (container.classList.contains("highlight")) {
            container.appendChild(copybutton);
        } else if (container.parentNode.firstChild == container) {
            // td containing LineNos
        } else if (codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.nodeName == "TABLE") {
            // table containing LineNos and code
            codeblock.parentNode.parentNode.parentNode.parentNode.parentNode.appendChild(copybutton);
        } else {
            // code blocks not having highlight as parent class
            codeblock.parentNode.appendChild(copybutton);
        }
    });
</script>
{{- end }}
