// 档案样式
.archive {
  &.year {
    margin-top: 40px;
  }
  &:not(:last-of-type) {
    border-bottom: 2px solid var(--border-100);
  }
  .month {
    display: flex;
    align-items: flex-start;
    margin: 10px 20px;
    .monthHeader {
      margin: 25px 0;
      width: 180px;
    }
    &:not(:last-of-type) {
      border-bottom: 1px solid var(--border-200);
    }
    .posts {
      width: 100%;
    }
    .entry {
      position: relative;
      padding: 5px;
      margin: 10px 0;
    }
    .entryTitle {
      margin: 5px 0;
      font-weight: 500;
      color: var(--text-200);
    }
    .entryLink {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  .count {
    color: var(--text-300);
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .archive {
    &.year {
      margin-top: 20px;
    }
    .month {
      flex-direction: column;
    }
  }
}
