// 文章列表样式

// 文章入口
.postEntry {
  position: relative;
  margin-bottom: var(--gap);
  padding: var(--gap);
  background: var(--bg-200);
  border: 1px solid var(--bg-300);
  border-radius: var(--radius);
  transition: transform 0.1s;

  &:active {
    transform: scale(0.96);
  }

  .entryCover {
    margin-bottom: var(--gap);

    img {
      border-radius: var(--radius);
      width: 100%;
      height: auto;
    }
  }

  .entryTitle {
    font-size: 24px;
    line-height: 1.3;

    .entryIsdraft {
      font-size: 14px;
      color: var(--text-200);
    }
  }

  .entryContent {
    margin: 8px 0;
    color: var(--text-200);
    font-size: 14px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
  }

  .entryMeta {
    color: var(--text-200);
    font-size: 13px;
  }

  .entryLink {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

// tag 文章入口
.tagEntry {
  .entryCover {
    display: none;
  }
}

// 分页样式
.pagination {
  display: flex;
  justify-content: left;
  font-size: 1rem;
  font-weight: 700;
  overflow-x: auto;
  user-select: none;

  .pageItem {
    margin: 0.5rem;
    border-radius: 6px;

    &.active {
      background: var(--bg-200);
    }
    &:not(.active) a:hover {
      color: var(--text-100);
    }
  }
  .pageLink {
    padding: 4px 8px;
    color: var(--text-200);
    display: grid;
    align-items: center;
    justify-content: center;
  }
}
