@import "./home";

// profile 模式样式

.profile {
  min-height: calc(100vh - var(--header-height) - var(--footer-height) - var(--gap) * 2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;

  img {
    border-radius: 50%;
  }
  h1 {
    padding: 12px 0;
  }

  .buttons {
    display: flex;

    .button {
      background: var(--bg-200);
      border-radius: var(--radius);
      margin: 8px;
      padding: 6px 14px;
      transition: transform 0.1s;

      &:active {
        transform: scale(0.9);
      }
      svg {
        height: 12px;
        width: 12px;
      }
    }
  }
}
