// 导入库引用
@import "../css/lib/index";

// 导入变量
@import "./ver/index";
// 导入基础样式
@import "./base/index";

// 公共样式
@import "./common/index";

// 这里的样式都是后面要按需引用的
// home
@import "./partials/home/classic.scss";
@import "./partials/home/profile.scss";
// // 列表页
// @import "./partials/list.scss";
// // 档案页
// @import "./partials/archive.scss";
// // 搜索页
// @import "./partials/search.scss";
// // 分类页
// @import "./partials/terms.scss";
// // 文章页
// @import "./partials/single/single.scss";
// // 404
// @import "./partials/404.scss";

// 引入自定义样式文件
// TODO:修改成参数配置
// @import "custom/custom";
// @import "../css/custom/custom";
