// 引入自定义样式文件
@import "custom/custom";
@import "../css/custom/custom";

// 导入之前的样式文件
@import "../css/common/index";
@import "../css/core/index";
@import "../css/custom/index";
@import "../css/extended/index";
@import "../css/includes/index";
// 测试引入文件
@import "_partial/t";

// 设置有序列表的序号
.toc #TableOfContents ol {
  list-style-type: none;
  counter-reset: item;

  li {
    list-style: none;

    a:first-of-type::before {
      counter-increment: item;
      content: counters(item, ".") ". ";
      font-weight: 700;
      margin-right: 5px;
    }
  }
}

// 代码块
.post-content .highlight:not(table) {
  margin-top: 0;
}
// 代码块整体容器
.codeBlock {
  backdrop-filter: blur(10px) brightness(90%);
  background-color: rgba(46, 46, 51, 0.8);
  border-radius: 0.4em;

  // 头部容器
  details {
    summary {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10px;
      user-select: none;
      cursor: zoom-in;
      font: revert;
      font-weight: 700;
      font-size: 14px;
      height: 36px;

      &::marker {
        content: "";
      }
      // 操作1
      .oper1 {
        display: flex;

        div {
          width: 13px;
          height: 13px;
          margin: 0 5px;
          border-radius: 100px;
          display: flex;
        }
        div:nth-of-type(1) {
          background-color: rgb(60, 60, 60);
        }
        div:nth-of-type(2) {
          background-color: #ffbd2e;
        }
      }
      // 操作2
      .oper2 {
        display: flex;
        align-items: center;

        button {
          height: 28px;
          padding: 0 5px;
          border: 1px solid rgb(60, 60, 60);
          border-radius: 10px;
          box-sizing: border-box;

          &:hover {
            background-color: rgba(78, 78, 78, 0.8);
          }
        }
      }
    }
    // 打开状态样式
    &[open] {
      summary {
        cursor: zoom-out;

        .oper1 {
          div:nth-of-type(1) {
            background-color: #28ca42;
          }
          div:nth-of-type(2) {
            background-color: rgb(60, 60, 60);
          }
        }
      }
    }

    // 代码内容容器
    + .codeBlockContent {
      overflow: hidden;
      margin-bottom: 10px;
      max-height: 0px;
      transition: max-height 0.3s cubic-bezier(0, 1, 0, 1);

      pre {
        margin: 0;
      }
    }
    // 打开状态下容器
    &[open] + .codeBlockContent {
      max-height: 1200px;
      transition: max-height 0.3s cubic-bezier(0.5, 0, 1, 0);
    }
  }
}
